.sample {
  margin-top: 30vh;
}

.panth-tooltip{
  .tooltip-inner {
    max-width: 500px;
    padding: 3px 8px;
    color: black;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.hide-tip {
  float: right;
  color: $subtlegrey;
  margin-right: 5px;
}

.panel-panth {
  width: 480px;
  margin-bottom: 0px;

  .panel-heading {
    background-color: $panth-purple !important;
    text-align: left;
  }
  h5.panel-title {
    font-size: 14px;
  }
  .panel-body {
    text-align: left;
    position: relative;
  }
  .panel-top {
    display: block;
    min-height: 60px;
  }
  .panel-logo {
    width: 60px;
    border-radius: 5px;
  }
  .panel-bio {
    width: 70%;
    font-size: 12px;
  }
  .panel-bottom {
    display: block;
    height: auto;
  }
  .btn {
    margin-bottom: 0px;
  }
  .btn-panth {
    background-color: $panth-purple;
    color: white;
  }
  .panel-tags {
    margin-bottom: 5px;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    color: grey;
    ul{
      display: inline-block;
      padding-left: 5px;
    }
    li{
      display: inline-block;
      margin-right: 4px;
    }
  }
}
