//colors
$panth-black: #373A3C;
$panth-purple: $brand-primary;

$default-text: #333;
$inactive-text: #515962;

$hypergrey: #F7F7F7;
$hypergrey-border: #F0F0F0;

$subtlegrey: #B7B7B7;

//other people colors
$linkedin-blue: #007AB6;
$angelist-black: #000;
